.button-menu {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.856);
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: none;
    border-right: none;
    margin-left: 20px;
    outline: none;
    margin-left: auto;
    cursor: pointer;

    &::before {
        content: "";
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000;
    }

    &::before {
        top: 0;
        left: -6px;
    }

    @media (max-width: 590px) {
        display: block;
    }
}
