.calc {
    max-width: 1440px;
    padding-top: 80px; // Вставить переменную "высота меню"
    display: flex;
    justify-content: space-evenly;

    &__image {
        width: 350px;
        height: 350px;
        border-radius: 100px;
    }

    &__button-wrapper {
        width: 350px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    &__button {
        margin:  0 0 30px 0;
        min-width: 350px;
        height: 40px;

        background: rgb(0, 53, 87);

        border-radius: 15px;
        border: none;

        font-size: 22px;
        font-weight: bold;
        color: rgb(255, 255, 255);

        &:last-child {
            margin-bottom: 0;
        }
        
        &:hover {
            // mix-blend-mode: multiply;
            color: rgb(255, 255, 255);
            background: rgb(0, 35, 56);
            cursor: pointer;
        }
    }

}