.calc-title {
    margin-top: 100px;
    text-align: center;
}

.calc-iframe {
    min-height: 1380px;
    border: none;
}


@media(max-width: 685px) {
    .calc-iframe {
        min-height: 1645px;
    }
    
}

@media(max-width: 590px) {
    .calc-iframe {
        min-height: 1680px;
    }
    
}

@media(max-width: 540px) {
    .calc-iframe {
        min-height: 1780px;
    }
    
}

@media(max-width: 450px) {
    .calc-iframe {
        min-height: 1835px;
    }
    
}

@media(max-width: 380px) {
    .calc-iframe {
        min-height: 1900px;
    }
    
}