.calc {
    
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    &__image {
        width: 350px;
        height: 350px;
    }

    &__button-wrapper {
        width: 350px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;

        margin:  30px 0;
        min-width: 350px;
        height: 40px;

        background: rgb(0, 53, 87);

        border-radius: 15px;
        border: none;

        font-size: 22px;
        font-weight: bold;
        color: rgb(255, 255, 255);

        &:last-child {
            margin: 0;
        }
        
        &:hover {
            // mix-blend-mode: multiply;
            color: rgb(255, 255, 255);
            background: rgb(0, 35, 56);
            cursor: pointer;
        }
    }

}

@media (max-width: 750px) {
    .calc {
        &__wrapper {
            flex-flow: column;
            align-items: center;
        }
        
    }
}

@media (max-width: 410px) {
    .calc {
        &__wrapper {
            padding: 30px 12px;
        }

        &__button-wrapper {
            width: 100%;
        }

        &__button {
            min-width: 100%;
        }

        &__image {
            width: 295px;
            height: 295px;
        }
    }
}
