.menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 50%;
    &__item {
        display: flex;
        margin-right: 34px;
        height: 100%;
        // background-image: url('./images/phone-auricular-outline_icon-icons.com_73189.png');
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 100%;
        box-sizing: border-box;
        padding-top: 6px;
        font-family: 'Roboto', Helvetica, sans-serif;
        font-weight: 500;
        // font-size: rem(18);
        line-height: 24px;
        color: black;
        &:hover {
            color: #2c2f55;
        }
        &__hover-link_white:hover {
            color: #fff;
        }
    }
    &__phone {
        color: rgb(87, 87, 87);
        font-weight: bold;
        &::before {
            content: '';
            display: block;
            width: 38px;
            height: 38px;
            // background-image: url('../images/css.png');
            background-size: contain 100%;
        }
    }
}

@media (max-width: $phone-width) {
    .menu__item {
        margin-right: 11px;
    }
    .menu__link {
        font-size: 16px;
    }
}