.menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    &__item {
        display: flex;
        margin-right: 34px;
        height: 100%;
        // background-image: url('./images/phone-auricular-outline_icon-icons.com_73189.png');
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 100%;
        box-sizing: border-box;
        padding-top: 6px;
        font-family: 'Roboto', Helvetica, sans-serif;
        font-weight: 500;
        // font-size: rem(18);
        line-height: 24px;
        color: black;
        &-phone {
            font-weight: bold;
            color: #43404e;
            &::before {
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                box-sizing: border-box;
                background: url('./images/ico-phon.png') center / 100%;
            }
        }
        &:hover {
            color: #2c2f55;
        }
        &__hover-link_white:hover {
            color: #fff;
        }
    }
}

@media (max-width: 1115px) {
    .menu {

        &__item {
            margin-right: 15px;
        }
    }
}

@media (max-width: 945px) {
    .menu {
        justify-content: space-evenly;
        &__item {
            margin-right: 15px;
        }
    }
}

@media (max-width: $table-width) {
    .menu {
        font-size: $paragraph-font-size - 4;
        &__item {
            margin-right: 15px;
        }
    }
}

@media (max-width: 590px) {
    .menu {
        display: none;
        flex-flow: column;
        position: absolute;
        right: 0;
        top: 0;
        &__item {
            margin-right: 0;
        }
    }
}


@media (max-width: $phone-width) {
    .menu__item {
        margin-right: 11px;
    }
    .menu__link {
        font-size: 16px;
    }
}