.nav-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 101px 0 104px;
    height: 80px;
    max-width: 1440px;
    box-sizing: border-box;
    box-shadow: #f0efef 0px 1px 15px;
    background-color: rgba(255, 255, 255, 0.178);
    @media (max-width: 768px) {
        padding: 0 42px 0 40px;
        height: 64px;
    }
    @media (max-width: 450px) {
        padding: 0 14px 0 16px;
        height: 56px;
    }
}