.commentlist, #comments, .navigation{
    background-color: rgb(244, 245, 246);
    box-sizing: border-box;
    margin: 0;
}
#comments {
    padding: 20px 0;
}
.post {

    margin: auto;

    margin-top: 100px;
    max-width: 1440px;

    &__title {
        text-align: center;
        font-size: 30px;
    }

    article {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .comment-respond {
        padding: 100px 0;
        box-sizing: border-box;

        background-color: rgb(244, 245, 246);

        input[type=submit] {
            width: 50%;
            height: 65px;

            font-size: 22px;
            
            background: rgb(0, 53, 87);
            color: #fff;
            border: none;
            border-radius: 45px;
        }

        textarea {
            display: block;
            border: 1px solid rgb(209, 209, 209);
            box-shadow: none;
            border-radius: 45px;
            font-size: $paragraph-font-size;
            height: 150px;
            width: 50%;
            padding: 25px;
            margin-top: 15px;
            margin-bottom: 30px;

            &:focus {
                outline: none;
                border-radius: 45px;
                border: 2px solid rgba(3, 152, 211, 0.479);
            }
        }
    }
}


@media(min-width: 1440px) {
    .commentlist, #comments, .navigation {
        width: 100vw;
        position: relative;
        left: calc((101vw - 1440px) / 2 * -1);

        padding-left: calc((101vw - 1440px) / 2 );
        padding-right: calc((101vw - 1440px) / 2 );
    }
    
    .commentlist {
        padding-left: calc((101vw - 1350px) / 2 );
        padding-right: calc((101vw - 1350px) / 2 );
    }

    .post {
        position: relative;
        .comment-respond {
            width: 100vw;
            position: relative;
            left: calc((101vw - 1440px) / 2 * -1);

            padding-left: calc((101vw - 1440px) / 2 );
            padding-right: calc((101vw - 1440px) / 2 );
        }
    }
}