<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автострахование</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
    <header class="header">
        <nav class="nav-menu-header">
            <div class="nav-menu-wrapper">
                <a href="#" class="logo">Автострахование</a>
                <button class="button-menu">
                </button>
                <ul class="menu">
                    <li class="menu__item menu__item"><a id="linkCalc" href="#calc" class="menu__link menu__link_active_white">Калькулятор ОСАГО</a></li>
                    <li class="menu__item"><a  id="linkAbout" href="./blog.html" class="menu__link menu__hover-link_white">Blog</a></li>
                    <li class="menu__item"><a  id="linkAbout" href="#about" class="menu__link menu__hover-link_white">О нас</a></li>
                    <li class="menu__item"><a id="linkContacts" href="#contacts" class="menu__link menu__hover-link_white">Контакты</a></li>
                    <li class="menu__item"><a href="tel: 89997654321" class="menu__link menu__link-phone">89997654321</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="content">

        <div class="post">
            
            <h2 class="post__title">Как застраховать гараж</h2>
            <article>
                <p>Владелец имеет полное право застраховать свой гараж, находящийся как на собственном земельном участке, так и расположенный в общем гаражном кооперативе. Однако большинство компаний защищают только «капитальные» сооружения, имеющие фундамент, стены и крышу. Многие СК требуют также документ на право собственности.

                    Застраховать можно абсолютно всё в гараже: само строение, внутреннюю отделку, облицовку, коммуникации, стационарное оборудование, мебель и т. п. (кроме переносного инструмента). Страховой взнос составит примерно 0,5–1% от стоимости гаража.
                    
                    Застраховать можно абсолютно всё в гараже: само строение, внутреннюю отделку, облицовку, коммуникации, стационарное оборудование, мебель и т. п. (кроме переносного инструмента). Страховой взнос составит примерно 0,5–1% от стоимости гаража.</p>
            </article>

            <h3 id="comments">Застраховать можно</h3>
            <div class="navigation"></div>
            <ol class="commentlist">
                <li>qwe</li>
            </ol>

            <div class="comment-respond">
                <h3 class="comment-reply-title">Добавить комментарий</h3>
                <form class="comment-form">
                    <p class="comment-form-comment">
                        <label>Комментарий</label>
                        <textarea id="comment"></textarea>
                    </p>
                    <p class="form-submit">
                        <input class="submit" type="submit" value="Отправить комментарий"/>
                    </p>
                </form>
            </div>
        </div>
   
        <a name="contacts"></a>
        <section class="contacts" >
            <h2 class="contacts__title">Контактная информация</h2>
            <div class="contacts__wrapper-blocks">
                <div class="contacts__wrapper-map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A125cd42b772acb9f68327db849a0947acc6b8b8193570cf59c7c3a63c87ec2f2&amp;source=constructor" width="100%" height="443" frameborder="0"></iframe>
                    <ul class="contacts__list">
                        <li class="contacts__item">Одинцово, Новая Трехгорка, ул. Кутузовская д.31</li>
                        <li class="contacts__item contacts__item-messenger">8-926-603-87-65</li>
                        <li class="contacts__item contacts__item-messenger">8-926-522-90-99</li>
                        <li class="contacts__item">ОГРН/ОГРНИП 5137746104773</li>
                    </ul>
                </div>
                <div class="feedback">
                    <h2 class="feedback__title"> Напишите нам</h2>
                    <form action="/" class="feedback__form" method="POST">
                        <label for="email" class="feedback__label feedback__label_input require" id="labelEmail">
                            <input placeholder=" YourEmail@gmail.com" type="email" name="email" id="email" class="feedback__input" require>
                            <span class="feedback__lable-name">
                                Emal
                            </span> 
                            <span class="error-massege" id="error-email">Хуйня какая-то</span>
                        </label>
                        <label for="phone" class="feedback__label feedback__label_input" id="labelPhone">
                            <input placeholder=" +79998765432" type="tel" name="tel" id="phone" class="feedback__input"> 
                            <span class="feedback__lable-name">
                                Номер телефона
                            </span> 
                            <span class="error-massege" id="error-phone">Хуйня какая-то</span>
                        </label>
                        <label for="call" class="feedback__label feedback__label_checkbox">
                            <input type="checkbox" id="call" name="call" class="feedback__checkbox"> Заказать обратный звонок
                        </label>
                        <p class="feedback__paragraph">поставьте галочку и мы вам перезвоним</p>
                        <textarea placeholder="Введите сообщение..." cols="30" rows="10" name="message" class="feedback__textarea" require></textarea>
                        <button class="feedback__button">Отправить</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="popup">
            <div class="popup__content">
                <img src="<%=require('./images/restore.png').default%>" alt="востановление" class="services-card__image">
                <h2 class="popup__title"> Описание услуги</h2>
                <p class="popup__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae eius
                     inventore aliquam perspiciatis vero excepturi quos commodi rerum natus dicta est, id voluptas, aliquid sint laudantium doloremque cupiditate,
                     veniam perferendis pariatur quo reprehenderit asperiores. Voluptatum magni quibusdam hic facilis nam..</p>
            </div>
        </div>
        
        <div class="popup-calc">
                <div class="popup-calc-wrapper">
                    <div class="popup-calc__cross"></div>
                    <iframe src="https://calcus.ru/kalkulyator-osago?embed=1&bgcolor=%FFFFFFA&buttoncolor=%232E8B57&region_id=50" width="100%" frameborder="0" class="popup-calc__content calc-form"></iframe>
                </div>
        </div>
    </main>
    <footer class="footer">
        <nav class="nav-menu-footer">
            <h1 class="logo">Автострахование</h1>
            <ul class="menu menu_theme_white">

            </ul>
        </nav>
    </footer>

    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>


</html>
