<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автострахование</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
    <header class="header">
        <nav class="nav-menu-header nav-menu-header_theme_white">
            <h1 class="logo">Автострахование</h1>
            <ul class="menu menu_theme_white">
                <li class="menu__item menu__item"><a href="#" class="menu__link menu__link_active_white">Калькулятор ОСАГО</a></li>
                <li class="menu__item"><a href="#" class="menu__link menu__hover-link_white">О нас</a></li>
                <li class="menu__item"><a href="#" class="menu__link menu__hover-link_white">Контакты</a></li>
                <li class="menu__item">
                    <a href="tel: 89997654321" class="menu__link menu__phone">✆ 89997654321</a>
                </li>
            </ul>
        </nav>
    </header>

    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>