html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

@import './vendor/fonts/fonts';

@import './scss/vars/vars';
@import './scss/blocks/header';
@import './scss/blocks/menu';
@import './scss/blocks/logo';
@import './scss/blocks/nav-menu-header';
@import './scss/blocks/services-card';
@import './scss/blocks/calc';
@import './scss/blocks/content';
@import './scss/blocks/about-us';
@import './scss/blocks/we-work';
@import './scss/blocks/_partners';
@import './scss/blocks/road-map';
@import './scss/blocks/feedback';
@import './scss/blocks/contacts';
@import './scss/blocks/footer';
@import './scss/blocks/nav-menu-footer';
@import './scss/blocks/calc-form';
@import './scss/blocks/calc-iframe';
@import './scss/blocks/popup-calc';
@import './scss/blocks/button-menu';
@import './scss/blocks/error-massege';
@import './scss/blocks/require';
@import '../node_modules/swiper/swiper';
@import './vendor/mySwiper';
@import './scss/blocks/post-list';
@import './scss/blocks/post';
@import './scss/blocks/burger';




section {
    // height: 90vh;
}